@model OrganizeMe.Web.ViewModels.Home.ContactViewModel
@using Microsoft.Extensions.Configuration;
@inject IConfiguration configuration
@{
    this.ViewData["Title"] = "Contact us";
    var recapchaSiteKey = this.configuration["GoogleRecaptcha:SiteKey"];
}

<h1>@ViewData["Title"]</h1>
<hr />
<form asp-area="" asp-action="Contact" asp-controller="Home">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control col-md-5" placeholder="Enter name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control col-md-5" placeholder="Enter email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Message"></label>
        <textarea asp-for="Message" class="form-control col-md-5 min-vh-50" rows="3" placeholder="Enter message"></textarea>
        <span asp-validation-for="Message" class="text-danger"></span>
    </div>
    <input type="hidden" id="RecaptchaValue" asp-for="RecaptchaValue" />
    <button type="submit" class="btn btn-dark btn-lg">Submit</button>
    <a href="/" class="btn btn-secondary btn-lg">Cancel</a>
</form>

<script src="https://www.google.com/recaptcha/api.js?render=6LckXeYUAAAAAD_0GoStu4k3EYpxpXfjPHsnyV8l"></script>
<script>
     grecaptcha.ready(function () {
            grecaptcha.execute('@recapchaSiteKey', { action: 'contact_form' }).then(function (token) {
                document.getElementById("RecaptchaValue").value = token;
            });
        });
</script>