@using OrganizeMe.Common
@using System.Threading;
@{
    this.ViewData["Title"] = "Home Page";
}
<head>
    <environment names="Development">
        <link href="~/css/home.index.min.css" rel="stylesheet" asp-append-version="true">
    </environment>
    <environment names="Staging,Production">
        <link href="~/css/home.index.css" rel="stylesheet" asp-append-version="true">
    </environment>
</head>

<!--==========================
   Intro Section
 ============================-->
<section id="intro" class="clearfix removeContainer">
    <div class="page-header section-dark d-flex h-100">
        <div class=" row justify-content-center align-self-center">
            <h2 class="float-left text-left display-4 intro-info">This will help <span>organize</span> your life,<br />track your habbits and never forger an event. </h2>
            @*<div>
                    <a href="" class="btn-get-started scrollto">Login</a>
                    <a href="" class="btn-get-started scrollto">Register</a>
                </div>*@
            <!-- </div> -->
            @*<div class="col-md-6 intro-img order-md-last order-first">
                    <img src="~/img/indexHome.jpg" alt="" class="img-fluid">
                </div>*@
        </div>

    </div>
</section><!-- #intro -->
@*<div class="w-100 text-left mt-4 mb-4 page-header section-dark ">
        <div class="align-middle">
            <h1 class=" w-50 display-4">Welcome to @GlobalConstants.SystemName!</h1>
            <h3 class="w-50 mt-4 display-6">This will help organize your life, track your habbits and never forger an event.</h3>
        </div>
    </div>*@
<!--==========================
     Services Section
   ============================-->
<section id="services" class="section-bg">
    <div class="container">

        <header class="section-header">
            <h3>Services</h3>
            <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.</p>
        </header>

        <div class="row">

            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #fceef3;"><img src="~/img/balance-scale-left-solid.svg" alt="scale icon" style="color: #ff689b;"></div>
                    <h4 class="title">Lorem Ipsum</h4>
                    <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #fff0da;"><img src="~/img/calendar-alt-regular.svg" alt="calendar icon" style="color: #e98e06;"></div>
                    <h4 class="title">Dolor Sitema</h4>
                    <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #e6fdfc;"><img src="~/img/check-circle-regular.svg" alt="check-circle icon" style="color: #3fcdc7;"></div>
                    <h4 class="title">Sed ut perspiciatis</h4>
                    <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #eafde7;"><img src="~/img/user-solid.svg" alt="user icon" style="color:#41cf2e;"></div>
                    <h4 class="title">Magni Dolores</h4>
                    <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #e1eeff;"><img src="~/img/clock-regular.svg" alt="clock icon" style="color: #2282ff;"></div>
                    <h4 class="title">Nemo Enim</h4>
                    <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #ecebff;"><img src="~/img/lightbulb-regular.svg" alt="lightbulb icon" style="color: #8660fe;"></div>
                    <h4 class="title">Eiusmod Tempor</h4>
                    <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                </div>
            </div>

        </div>

    </div>
</section>
