@model BeOrganized.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}

<section class="content-header">
    <h1>
        Home
    </h1>
</section>
<section class="content container-fluid">
    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@Model.NewUsersToday</h3>

                <p>New Users Today</p>
            </div>
            <div class="icon">
                <a asp-controller="Users" asp-action="All"><i class="ion ion-pie-graph"></i></a>
            </div>
        </div>
        <div class="small-box bg-blue">
            <div class="inner">
                <h3>@Model.NewUsersThisMonth</h3>

                <p>New Users This Month</p>
            </div>
            <div class="icon">
                <a asp-controller="Users" asp-action="All"><i class="ion ion-pie-graph"></i></a>
            </div>
        </div>
        <div class="small-box bg-aqua-gradient">
            <div class="inner">
                <h3>@Model.NewEventsToday</h3>

                <p>New Events Created Today</p>
            </div>
            <div class="icon">
                <a asp-controller="Events" asp-action="Index"> <i class="far fa-calendar-check"></i></a>
            </div>
        </div>
    </div>
</section>