@using BeOrganized.Common
@using System.Threading;
@{
    this.ViewData["Title"] = "Home Page";
}
<head>
    <environment names="Development">
        <link href="~/css/home.index.min.css" rel="stylesheet" asp-append-version="true">
    </environment>
    <environment names="Staging,Production">
        <link href="~/css/home.index.css" rel="stylesheet" asp-append-version="true">
    </environment>
</head>

<!--==========================
   Intro Section
 ============================-->
<section id="intro" class="clearfix removeContainer">
    <div class="page-header section-dark d-flex h-100">
        <div class=" row justify-content-center align-self-center">
            <h2 class="float-left text-left display-4 intro-info">This will help you <span>be organized</span>,<br />track your habbits and never forget about an event.</h2>
                   </div>

    </div>
</section><!-- #intro -->
<!--==========================
     Services Section
   ============================-->
<section id="services" class="section-bg">
    <div class="container">

        <header class="section-header">
            <h3>Services</h3>
            <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.</p>
        </header>

        <div class="row">          

            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #fceef3;"><img src="~/img/balance-scale-left-solid.svg" alt="scale icon" style="color: #ff689b;"></div>
                    <h4 class="title">Time saving</h4>
                    <p class="description">Help save time when you arrange your events and habits</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #fff0da;"><img src="~/img/calendar-alt-regular.svg" alt="calendar icon" style="color: #e98e06;"></div>
                    <h4 class="title">Calendar</h4>
                    <p class="description"></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #e6fdfc;"><img src="~/img/check-circle-regular.svg" alt="check-circle icon" style="color: #3fcdc7;"></div>
                    <h4 class="title">Habit tracker</h4>
                    <p class="description">Track your habits and see the results</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #eafde7;"><img src="~/img/user-solid.svg" alt="user icon" style="color:#41cf2e;"></div>
                    <h4 class="title">Personal</h4>
                    <p class="description">Customize you calendar</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #e1eeff;"><img src="~/img/clock-regular.svg" alt="clock icon" style="color: #2282ff;"></div>
                    <h4 class="title">Day time</h4>
                    <p class="description">Arranges your habits in the part of the day you want</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #ecebff;"><img src="~/img/lightbulb-regular.svg" alt="lightbulb icon" style="color: #8660fe;"></div>
                    <h4 class="title">Design</h4>
                    <p class="description">Intuitive and simple design/p>
                </div>
            </div>

        </div>

    </div>
</section>
