body {
    /*overflow: auto;*/
}

#bottom {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

#calendarAndButtons {
    margin-left: 1%;
    max-width: 98%;
}

/*.fc-scroller, .fc-time-grid-container {
    overflow: auto;
   height: 1180px;
}*/

.fc-button {
    background-color: rgba(199, 135, 83, 0.829);
    border-color: rgba(199, 135, 83, 0.952);
}

    .fc-button:hover {
        background-color: rgba(134, 80, 36, 0.829);
        border-color: rgba(199, 135, 83, 0.952);
    }

    .fc-button-primary:not(:disabled).fc-button-active,
    .fc-button:disabled {
        background-color: rgba(199, 135, 83, 0.658);
        border-color: rgba(199, 135, 83, 0.952);
    }

.fc th.fc-today {
    background-color: rgba(224, 182, 148, 0.692);
}

.fc td.fc-today {
    background-color: white;
}

.circleBar {
    margin: 15%;
    width: 70%;
    height: 70%;
}
