@{
    ViewData["Title"] = "404 Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="text-danger">Error 404</h1>
    <h2 class="text-danger">The page you are looking for does not exist.</h2>
    <div>
        <img src="~/img/banner_error_404.jpg" alt="404 Error" />
    </div>
</div>

