@{
    ViewData["Title"] = "Calendar";
}

<head>
    <environment names="Development">
        @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">*@
        <link href='~/lib/fullcalendar/core/main.min.css' rel='stylesheet' />
        <link href='~/lib/fullcalendar/daygrid/main.css' rel='stylesheet' />
        <link href='~/lib/fullcalendar/timegrid/main.css' rel='stylesheet' />
        <link href="~/css/calendar.index.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href='~/lib/fullcalendar/core/main.min.css' rel='stylesheet' />
        <link href='~/lib/fullcalendar/daygrid/main.min.css' rel='stylesheet' />
        <link href='~/lib/fullcalendar/timegrid/main.min.css' rel='stylesheet' />
        <link rel="stylesheet" href="~/css/calendar.index.min.css" asp-append-version="true">
    </environment>
</head>

<body>
    <div id="buttons">
        <a asp-controller="Events" asp-action="Create" class="fc-addEventButton-button fc-button fc-button-primary">Add Event</a>
        <a asp-controller="Goals" asp-action="Create" class="fc-addEventButton-button fc-button fc-button-primary">Add Goal</a>
    </div>
    <div id='calendar' class="removeContainer"></div>
    <script>
            var eventsJson = @Html.Raw(ViewBag.EventsJson);
            var habitsJson = @Html.Raw(ViewBag.HabitsJson);
    </script>
    <environment names="Development">
        @*<script src="~/lib/rrule/dist/es5/rrule.min.js"></script>*@
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src='~/lib/fullcalendar/core/main.js'></script>
        <script src='~/lib/fullcalendar/daygrid/main.js'></script>
        <script src='~/lib/fullcalendar/timegrid//main.js'></script>
        <script src='~/lib/fullcalendar/interaction/main.js'></script>
        @*<script src='~/lib/fullcalendar/rrule/main.js'></script>*@
        <script src='~/lib/fullcalendar/resource-common/main.js'></script>
        @*<script src='~/lib/fullcalendar/resource-timegrid/main.js'></script>*@
        @*<script src='~/lib/fullcalendar/resource-daygrid/main.js'></script>*@
        <script src="~/lib/signalr/dist/browser/signalr.js" asp-append-version="true"></script>

        <script src="~/js/calendar.index.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src='~/lib/fullcalendar/core/main.min.js'></script>
        <script src='~/lib/fullcalendar/daygrid/main.min.js'></script>
        <script src='~/lib/fullcalendar/timegrid/main.min.js'></script>
        <script src='~/lib/fullcalendar/interaction/main.min.js'></script>
        @*<script src='~/lib/fullcalendar/rrule/main.min.js'></script>*@
        <script src='~/lib/fullcalendar/resource-common/main.min.js'></script>
        @*<script src='~/lib/fullcalendar/resource-timegrid/main.min.js'></script>*@
        @*<script src='~/lib/fullcalendar/resource-daygrid/main.min.js'></script>*@
        <script src="~/lib/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>
        
        <script src="~/js/calendar.index.min.js" asp-append-version="true"></script>
    </environment>
</body>
