@using OrganizeMe.Web.ViewModels.Events
@model EventCreateViewModel


@{
    ViewData["Title"] = "Event Create";

}

<h1>@ViewData["Title"]</h1>
<hr />

<head>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/events.create.css" asp-append-version="true">
    </environment>
    <environment names="Staging,Production,Development">
        <link rel="stylesheet" href="~/css/events.create.min.css" asp-append-version="true">
    </environment>
</head>

<body>
    <form class="mb-3" asp-area="" asp-controller="Events" asp-action="Create" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.Title"></label>
            <input asp-for="Input.Title" class="form-control col-md-5" placeholder="Enter title">
            <span asp-validation-for="Input.Title" class="text-danger"></span>
        </div>
        <div id="calendar" class="form-group">
            <input id="startDate" asp-for="Input.StartDate" type="text" class="inputDate input-group-text form-control d-inline-block ">
            <i class="fa fa-bars border-right border-bottom btn d-inline-block" onclick="showCalendarLeft()"></i>
            <input asp-for="Input.StartTime" class="inputTime form-control  d-inline-block" />
            <div class="delimeter d-inline-block"> to </div>
            <input id="endDate" asp-for="Input.EndDate" type="text" class="inputDate input-group-text form-control d-inline-block">
            <i class="fa fa-bars btn border-right border-bottom d-inline-block" onclick="showCalendarRight()"></i>
            <input asp-for="Input.EndTime" class="inputTime form-control d-inline-block" /><br />
            <span asp-validation-for="Input.StartDate" class="text-danger"></span>
            <span asp-validation-for="Input.StartTime" class="text-danger"></span>
            <span asp-validation-for="Input.EndDate" class="text-danger"></span>
            <span asp-validation-for="Input.EndTime" class="text-danger"></span>
            <ul>
                <!-- calendar  -->
                <div id="calendarStartDate" class="calendar">
                    <div class="group">
                        <p class="left pointer minusmonth">&laquo;</p>
                        <p class="left monthname center pointer"></p>
                        <p class="right pointer addmonth">&raquo;</p>
                    </div>
                    <ul class="group">
                        <li>Mo</li>
                        <li>Tu</li>
                        <li>We</li>
                        <li>Th</li>
                        <li>Fr</li>
                        <li>Sa</li>
                        <li>Su</li>
                    </ul>
                </div>
            </ul>
        </div>

        <div class="form-group">
            <label asp-for="Input.Location"></label>
            <input asp-for="Input.Location" class="form-control mb-2" id="autocomplete4" value="" placeholder="Add location" />
            <span asp-validation-for="Input.Location" class="text-danger"></span>
            <div id="map"></div>
        </div>

        <div class="form-group">
            <label asp-for="Input.Description"></label>
            <textarea asp-for="Input.Description" class="form-control min-vh-50" rows="3" placeholder="Add Description"></textarea>
            <span asp-validation-for="Input.Description" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-dark btn-lg">Create</button>
        <a href="/Calendar" class="btn btn-secondary btn-lg">Cancel</a>

    </form>
    <environment names="Development">
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@Model.GoogleApi&libraries=places&callback=initAutocomplete" async defer></script>
        <script src="~/js/events.create.js" asp-append-version="true">JS</script>
    </environment>
    <environment names="Staging,Production,Development">
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@Model.GoogleApi&libraries=places&callback=initAutocomplete" async defer></script>
        <script src="~/js/events.create.min.js" asp-append-version="true">JS</script>
    </environment>
</body>