@{
    var hasNotification = TempData["NotificationSuccess"] != null || TempData["NotificationError"] != null;
}

@if (hasNotification)
{
    if (@TempData["NotificationSuccess"] != null)
    {
        <div class="alert alert-info alert-dismissible fade show notification" role="alert">
            @TempData["NotificationSuccess"]
        </div>
    }
    else
    {
        <div class="alert alert-danger alert-dismissible fade show notification" role="alert">
            @TempData["NotificationError"]
        </div>
    }
}
