@model ErrorViewModel
@{
    this.ViewData["Title"] = "Error";
}

<div class="text-center">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">Something went wrong.</h2>
    <h2 class="text-danger">Administartors are informed.</h2>

    @if (this.Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@this.Model.RequestId</code>
        </p>
    }

    <button class="btn btn-info mt-5" href="/Home/Index">Go to Home Page</button>
</div>
